asgiref==3.7.2
Django==3.2.3
django-colorfield==0.9.0
django-filter==23.2
djangorestframework==3.14.0
djoser==2.2.0
Pillow==10.0.0
webcolors==1.13
gunicorn==20.1.0
psycopg2-binary==2.9.3
python-dotenv==1.0.0
